---
console.log("")
---

<main class="flex items-center w-full h-screen justify-center flex-col p-6">
 <img src="/me.webp" loading="eager" alt="Maulana Sodiqin" class="w-48 h-48 rounded-full" />
 <h1 class="text-white text-4xl font-bold">Maulana Sodiqin</h1>
 <h1 class="text-white text-center md:text-2xl font-medium">Software Engineer, Based in Bandung, Indonesia</h1>
  <div class="flex gap-x-4">
  </div>
</main>
