---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro"
import Wrapper from "@/modules/wrapper.astro";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories/about", {
  version: import.meta.env.STORYBLOK_VERSION,
});

const story = data.story;

---
<Wrapper>
  <h1 class="text-white font-bold pb-4 md:text-4xl text-lg">About Me</h1>
  <StoryblokComponent blok={story.content} />
</Wrapper>
