---
import Layout from "@/components/layout.astro";
import { Image } from "astro:assets";
---

<Layout>
  <div
    class="flex md:flex-row flex-col items-start md:items-end gap-y-3 md:gap-y-0"
  >
    <Image
      class="md:px-6 px-2 rounded-2xl object-cover bg-cover"
      src="/me.jpeg"
      width={300}
      alt="Maulana"
      width={200}
      height={200}
    />
    <div class="flex flex-col gap-y-3 md:px-6 px-2">
      <div class="flex flex-col gap-y-1">
        <h1 class="text-[#e0def4] font-bold md:text-4xl text-3xl">
          hello, <bquote class="text-[#ea9a97]">welcome</bquote>
        </h1>
        <h2 class="text-[#c4a7e7] font-bold md:text-3xl text-2xl">
          i'm Maulana Sodiqin
        </h2>
      </div>
      <p class="text-[#e0def4]">
        a Software Engineer, especially at Frontend Development, help build and
        slicing Design, Ensure both Code and Website Quality for the best
        Experience
      </p>
    </div>
  </div>
</Layout>
