---
import Wrapper from "@/modules/wrapper.astro";
import Card from "@/components/card.astro";
import { fetchGithub } from "@/services/github/api";

const data = await fetchGithub();
---

<Wrapper>
  <section class="flex justify-start w-full">
    <h1 class="text-white font-bold p-4 md:text-4xl text-lg mb-6">List Of My Project's</h1> 
  </section>
  <section class="grid w-auto grid-rows-4 grid-cols-4 gap-4">
    {data?.map((item) => (
      <Card title={item?.name} description={item?.description} />
    ))}
  </section>
  
</Wrapper>
