---
import Navbar from "@/components/navbar.astro";
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Maulana Sodiqin is a Software Engineer" />
    <meta name="description" content="Maulana Sodiqin Frontend Engineer" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Maulana Sodiqin | Blog Post</title>
  </head>

  <body>
    <main
      class="p-4 flex flex-col gap-y-4 w-full items-center justify-start min-h-screen h-full bg-gray-900"
    >
      <Navbar />
      <section class="max-w-[1200px] w-full mt-12 py-12 flex flex-col gap-y-3">
        <div class="flex flex-col">
          <h1 class="text-6xl text-white font-bold">{frontmatter.title}</h1>
          <h2 class="text-1xl text-white font-medium">
            Author: {frontmatter.author}
          </h2>
        </div>
        <h3 class="text-white text-xs">5 Min Read</h3>
        <slot />
      </section>
    </main>
  </body>
</html>
