---
const currentPath = Astro.url.pathname;
---

<header
  class="fixed top-6 p-4 w-fit h-auto bg-[#26233a] border-[#eb6f92] border-2 z-10 rounded-full bg-opacity-80"
>
  <nav class="flex text-white justify-center gap-4 items-center">
    <a
      class={currentPath === "/"
        ? "text-[#eb6f92]"
        : "hover:text-[#3e8fb0] font-medium"}
      href="/">Home</a
    >
    <a
      class={currentPath.includes("blogs")
        ? "text-[#eb6f92]"
        : "hover:text-[#3e8fb0] font-medium"}
      href="/blogs">Blogs</a
    >
  </nav>
</header>
