---
import Card from "@/components/card.astro";
import Layout from "@/components/layout.astro";
---

<Layout>
  <h1 class="text-4xl text-white font-bold">List of Blog Post</h1>
  <div class="flex mt-7 w-full">
    <Card
      description="A short description of the blog post"
      link="/blogs/introduction"
      title="Introduction to Me"
    />
  </div>
</Layout>
